<div class="home-container">
  <header class="home-header">
    <h1 class="home-title">パレオ心理テスト</h1>
    <p class="home-description">
      あなたの心理や性格を測定し、成長を記録していくための心理テストアプリです。
    </p>
  </header>


  <section class="about-section">
    <h2>パレオな男について</h2>
    <p>
      このアプリは、<a href="https://yuchrszk.blogspot.com" target="_blank" class="link">パレオな男</a>の好奇心に関する記事を基に作成されています。
      より詳細な情報は、パレオな男のブログをチェックしてください。
    </p>
  </section>
</div>
